<!DOCTYPE html>
<html>

<head>
    <title>Instamob</title>

</head>

<body>

<a style="display: inline-block; height: 50px;width: 100px;border: 1px solid #000;margin: 50px" href="http://mp.weixin.qq.com/mp/redirect?url=https%3A%2F%2Fitunes.apple.com%2Fcn%2Fapp%2Fsupermii-ku-lian-zhuan-shu%2Fid931181673">
    ios下载
</a>

<a style="display: inline-block; height: 50px;width: 100px;border: 1px solid #000;margin: 50px" href="http://mp.weixin.qq.com/mp/redirect?url=market%3A%2F%2Fdetails%3Fid%3Dmozat.instamob">
    android下载
</a>

<a style="display: inline-block; height: 50px;width: 100px;border: 1px solid #000;margin: 50px" href="https://itunes.apple.com/us/app/1hao-dian/id427457043?mt=8&tp=1.1.14.0.1.KhrZqgM-11-CT^4h">
    ios下载
</a>

<a style="display: inline-block; height: 50px;width: 100px;border: 1px solid #000;margin: 50px" href="market://details?id=mozat.instamob">
    android下载
</a>
</body>

</html>